<!doctype html>
<html ng-app="splendid" ng-csp="script-src 'self' 'unsafe-eval'">
    <head>
        <meta charset="utf-8">
        <title>Splendid</title>
        <!-- build:css styles/app.css -->
        <link rel="stylesheet" href="bower_components/uikit/dist/css/uikit.almost-flat.min.css"/>
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body ng-controller="AppCtrl">
        <s-header></s-header>

        <div id="tools" class="uk-offcanvas">
            <div class="uk-offcanvas-bar">
                <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
                    <li><a href="#" ng-click="ui.openFile()">Open...</a></li>
                    <li><a href="#" ng-click="ui.saveFile(currentFile)">Save</a></li>
                    <li><a ng-click="show()">Settings</a></li>
                    <li class="uk-nav-divider"></li>
                    <li class="uk-nav-header">Open</li>
                    <li class="tab" ng-repeat="file in files" ng-class="{'uk-active': currentFile.name == file.name}">
                        <a href="#" class="tab-link" ng-click="ui.switchFile(file.name)">{{file.name}} </a>
                        <a href="" class="closable" ng-click="ui.closeFile(file)"></a>
                    </li>
                </ul>
            </div>
        </div>

        <s-settings>
            <s-settings-pane title="General">
                <p> This is an example settings panel </p>
                <div class="uk-form-horizontal">
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="form-h-it">Button Input</label>
                        <div class="uk-form-controls uk-float-right">
                            <div class="switch">
                                <input type="checkbox" name="switch" class="switch-checkbox" id="myswitch" checked>
                                <label class="switch-label" for="myswitch">
                                    <div class="switch-inner">
                                        <div class="switch-active"><div class="switch-switch">ON</div></div>
                                        <div class="switch-inactive"><div class="switch-switch">OFF</div></div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="form-h-it">Button Input</label>
                        <div class="uk-form-controls uk-float-right">
                            <div class="switch">
                                <input type="checkbox" name="switch" class="switch-checkbox" id="myswitch2" checked>
                                <label class="switch-label" for="myswitch2">
                                    <div class="switch-inner">
                                        <div class="switch-active"><div class="switch-switch">ON</div></div>
                                        <div class="switch-inactive"><div class="switch-switch">OFF</div></div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="form-h-it">Text Input</label>
                        <div class="uk-form-controls">
                                <input type="text" name="switch" class="uk-form-width-large uk-float-right"/>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="form-h-it">Select Input</label>
                        <div class="uk-form-controls">
                            <div class="select-style">
                              <select>
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                              </select>
                            </div>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="form-h-it">Text Input</label>
                        <div class="uk-form-controls">
                                <input type="text" name="switch" class="uk-form-width-large uk-float-right"/>
                        </div>
                    </div>
                </div>
            </s-settings-pane>
            <s-settings-pane title="Plugins">
                <p>PlaceHolder</p>
            </s-settings-pane>
        </s-settings>

        <div class="editor-container">
            <pre id="editor" ui-ace="{ onLoad : aceLoaded }" ng-model="file.getCurrentFile().file"></pre>
        </div>


        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/mousetrap/mousetrap.js"></script>
        <script src="bower_components/uikit/dist/js/uikit.js"></script>
        <script src="bower_components/requirejs/require.js"></script>
        <script type="text/javascript" src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="bower_components/angular-ui-ace/ui-ace.js"></script>

        <script src="scripts/modules/config.js"></script>
        <script src="scripts/modules/settings.js"></script>
        <script src="scripts/modules/header.js"></script>
        <script src="scripts/modules/system.js"></script>
        <script src="scripts/modules/filesystem.js"></script>

        <script src="scripts/app.js"></script>


    </body>
</html>
