<div id="settings" class="uk-offcanvas">
    <div class="uk-offcanvas-bar big-panel">
        <div class="uk-panel">
            <div class="uk-panel-title">
                <i class="uk-icon-gear"></i> Settings
            </div>
            <div class="uk-grid">
                <div class="uk-width-medium-2-6">

                    <!-- This is the nav containing the toggling elements -->
                    <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
                        <li ng-repeat="pane in panes" ng-class="{'uk-active':pane.selected}"><a ng-click="select(pane)">{{pane.title}}</a></li>
                    </ul>
                </div>
                <div class="settings-content uk-width-medium-4-6" ng-transclude>
                    
                </div>
            </div>
        </div>
    </div>
</div>